.num_title {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #555;
	border-radius: 8px;
	background-color: #fff;
	padding: 13px 16px;
	margin-bottom: 32px;

	strong {
		font-size: 18px;
		color: #000;
		margin-left: 19px;
	}
}

.filter_wrap {
	text-align: right;
	margin-bottom: 12px;

	.filter_btn {
		font-size: 14px;
		background-color: transparent;

		&::after {
			content: "";
			display: inline-block;
			width: 12px;
			height: 12px;
			background: url('../img/ico-drop-down.png') no-repeat center;
			margin-left: 4px;
		}
	}
}

/* box */
.box {
	padding: 15px 12px 17px;

	&:not(:last-child) {
		margin-bottom: 12px;
	}

	.product_wrap {
		display: flex;
	}

	.product_img {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		width: 80px;
		height: 80px;
		border-radius: 8px;
		background-color: #f4f4f4;
		margin-right: 12px;

		img {
			max-width: 44px;
			max-height: 57px;
		}
	}

	.product_info_group {
		display: flex;
		justify-content: space-between;
		flex: 1;
	}

	.product_info_wrap {
		flex: 1;

		.bidding_number {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin-bottom: 7px;

			span {
				font-size: 10px;
				color: #888;
				padding: 2px 10px;
				border-radius: 4px;
				border: 1px solid #bbb;
			}

			button {
				width: 64px;
				height: 26px;
				font-size: 12px;
				font-weight: 500;
				color: #e9e9e9;
				border-radius: 4px;
				background-color: #333;

				&:disabled {
					background-color: #999;
					cursor: default;
				}

				&.completed {
					background-color: #6c3bf5;
					cursor: default;
				}
			}
		}

		.product_name {
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 4px;
		}

		.company {
			display: flex;
			font-size: 12px;
			font-weight: 300;
			color: #999;
			word-break: break-all;
			overflow-wrap: break-word;

			.title {
				flex-shrink: 0;
				color: #000;
				margin-right: 8px;
			}
		}
	}

	.switch_wrap {
		text-align: center;

		.switch {
			position: relative;
			display: inline-block;
			width: 45px;
			height: 28px;

			input {
				opacity: 0;
				width: 0;
				height: 0;
			}

			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #c9cdd5;
				transition: all 0.4s;
				border-radius: 60px;
			}

			.slider:before {
				position: absolute;
				content: "";
				height: 24px;
				width: 24px;
				left: 3px;
				bottom: 2px;
				background-color: #fff;
				transition: all 0.4s;
				border-radius: 50%;
				box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);

			}

			input:checked+.slider {
				background-color: #f53b3b;
			}

			input:checked+.slider:before {
				transform: translateX(16px);
			}
		}

		p {
			font-size: 10px;
			font-weight: 500;
			color: #999;
			margin-top: 5px;
		}
	}

	.info {
		margin-top: 21px;

		li {
			font-size: 14px;
			display: flex;
			justify-content: space-between;

			&:not(:last-child) {
				margin-bottom: 5px;
			}

			span {
				color: #555;
				margin-right: 16px;
			}

			div {
				font-weight: 500;
			}
		}
	}

	.btn_wrap {
		display: flex;
		column-gap: 8px;

		button {
			width: 100%;
			height: 36px;
			border-radius: 8px;
			margin-top: 20px;

			&.revise_btn {
				color: #fff;
				border: 1px solid #f53b3b;
				background-color: #f53b3b;
			}

			&.remove_btn {
				color: #888;
				border: 1px solid #ddd;
				background-color: #fff;
			}
		}
	}
}

.table {
	width: 100%;
	font-size: 12px;
	text-align: center;
	color: #555;
	margin-top: 29px;

	thead {
		background-color: #f4f4f4;

		th {
			font-weight: normal;
			padding: 9px;

			&:first-child {
				position: relative;
				width: 122px;

				&::after {
					content: "";
					position: absolute;
					top: 50%;
					right: 0;
					width: 1px;
					height: 14px;
					transform: translateY(-50%);
					background-color: #c9c9c9;
				}
			}
		}
	}

	tbody {
		tr {
			&:not(:last-child) {
				border-bottom: 1px solid #f4f4f4;
			}
		}

		td {
			padding: 11px;
		}
	}
}