.total {
  font-size: 14px;
}
.total span {
  color: #f53b3b;
}

/* btn_wrap */
.btn_wrap {
  margin: 16px 0 20px;
}
.btn_wrap button {
  font-size: 14px;
  border-radius: 14px;
  background-color: #fff;
  padding: 4px 12px;
}
.btn_wrap button:not(:last-child) {
  margin-right: 4px;
}
.btn_wrap button::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../img/ico-drop-down.svg") no-repeat center;
  margin-left: 8px;
}

/* box */
.box {
  padding: 12px;
}
.box:not(:last-child) {
  margin-bottom: 12px;
}
.box .product_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.box .product_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 46px;
  min-width: 46px;
  min-height: 46px;
  border-radius: 8px;
  background-color: #f4f4f4;
  margin-right: 12px;
}
.box .product_img img {
  max-width: 36px;
  max-height: 36px;
}
.box .product_info_wrap .bidding_number {
  margin-bottom: 7px;
}
.box .product_info_wrap .bidding_number span {
  font-size: 10px;
  color: #888;
  padding: 2px 10px;
  border-radius: 4px;
  border: 1px solid #bbb;
}
.box .product_info_wrap .product_name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.box .product_info_wrap .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 300;
  color: #999;
}
.box .product_info_wrap .company .title {
  min-width: 45px;
  color: #000;
  margin-right: 8px;
}
.box .info {
  font-size: 14px;
  font-weight: 500;
}
.box .info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
}
.box .info li:not(:last-child) {
  margin-bottom: 7px;
}
.box .info li div {
  text-align: left;
  font-weight: normal;
  white-space: nowrap;
  color: #555;
  margin-right: 16px;
}
.box .info li .price {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.box .info li .price span {
  color: #f53b3b;
}
.box .tell {
  display: block;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border-radius: 24px;
  background-color: #f53b3b;
  padding: 8px 0;
  margin-top: 19px;
}
.box .tell::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url("../img/ico-tel.svg") no-repeat center;
  margin-right: 12px;
}
.box .tell:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}
.box h5 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 14px;
  color: #202020;
}
.box input {
  width: 100%;
  font-size: 14px;
  color: #555;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 11px 12px;
  margin-bottom: 16px;
}
.box input:disabled {
  background-color: #fff;
}
.box textarea {
  width: 100%;
  height: 244px;
  font-size: 14px;
  line-height: 1.43;
  color: #555;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 11px 12px;
}
.box textarea:disabled {
  background-color: #fff;
}

/* pop */
.radio_wrapper {
  padding: 0 4px;
}/*# sourceMappingURL=bidding.css.map */